* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-areas:
        "main main"
        "footer footer";
    grid-template-rows: 570vh 10vh;
}

/* header section */
.headcontainer {
    height: 15vh;
    width: 100%;
    border: solid 2px rgb(255, 115, 0);
    background: linear-gradient( rgb(10, 10, 10) , rgb(255, 115, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    .head {
        width: 30%;
        margin-left: 5vw;
    }

    .navbar {
        width: 70%;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    a:hover {
        background: rgb(255, 115, 0);
        color: transparent;
        background-clip: text;
        text-shadow: 1px 2px 5px rgb(255, 115, 0);
    }
}


/* home section */
main {
    padding-top: 200px;
    grid-area: main;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .left {
        width: 50%;
        display: grid;
        margin-left: 7vw;
        justify-content: center;
        align-items: center;
        place-content: center;
    }
    li{
        display: inline;
        border: solid 3px white;
        padding: 2vh 2vw;
        border-radius: 30px;
        background: linear-gradient( rgb(255, 115, 0) , rgb(10, 10, 10));
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    p{
        font-size: 20px;
        padding: 5vh 0;
    }
    .right {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 100px white;
}


/* about section */
.box1 {
    margin-top: 5vh;
}

.box1 h1 {
    font-size: 50px;
    text-align: center;
}

.box11 {
    border: solid 3px white;
    border-radius: 30px;
    background: rgb(28, 28, 30);
    box-shadow: 2px 2px 5px rgb(255, 115, 0);

    margin: 5vh auto;
    width: 80%;
    padding: 25px;
    display: grid;
    row-gap: 3vw;
    transition: all 1s;
}

.box11 p {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: rgb(255, 115, 0);
}

.box11:hover {
    border: solid 3px white;
    box-shadow: 2px 2px 100px black;
    background: rgb(255, 115, 0);
    transform: scale(1.03);
}

.box11:hover p {
    color: rgb(240, 234, 234);
}




/* education section */
.box3 {
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 3vh;
    column-gap: 3vw;
    margin-top: 10vh;

    .box31 {
        padding: 7vh 7vw;
        border: solid 3px white;
        background: rgb(28, 28, 30);
        box-shadow: 2px 2px 100px black;
        height: 200px;
        border-radius: 20px;
        transition: all 1s;
        margin: 3vh 0;
    }

    .edu1 {
        font-size: 50px;
        text-align: center;
    }

    h4,
    h2 {
        color: rgb(255, 115, 0);
    }

    .box31:hover {
        border: solid 3px white;
        transform: scale(1.05);
        background: rgb(255, 115, 0);
        box-shadow: 2px 2px 100px black;
    }

    .box31:hover h2,
    .box31:hover h4 {
        color: rgb(240, 234, 234);
    }
}

/* skills section */

.skl {
    margin-top: 5vh;
    font-size: 50px;
    text-align: center;
}

.skill {
    margin-top: 2vh;
    font-size: 30px;
    text-align: center;
}

.box2 {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .box21 {
        border: solid 3px white;
        background: rgb(28, 28, 30);
        box-shadow: 2px 2px 100px black;
        height: 200px;
        width: 400px;
        border-radius: 10px;
        transition: all 1s;
    }

    ul {
        display: grid;
        row-gap: 3vh;
        column-gap: 3vw;
        grid-template-columns: repeat(3, auto);
        margin: 5vh auto;
        justify-content: center;
        place-content: center;
    }

    li {
        border: solid 3px white;
        padding: 10px;
        color: rgb(255, 115, 0);
        border-radius: 10px;
        transition: all 1s;
    }

    .box21:hover li{
        transform: scale(1.1);
        border: solid 3px white;
    }

    .box21:hover {
        border: solid 3px white;
        transform: scale(1.05);
        background: rgb(255, 115, 0);
        box-shadow: 2px 2px 50px black;
    }
    .box21:hover li{
        color: rgb(240, 234, 234);
        border: solid 3px yellow;
    }
}


/* projects section */
.box4 {
    display: grid;
    justify-content: center;
    width: 60%;
    gap: 5vh 5vw;
    margin: 10vh auto;

    .box41 {
        border: solid 3px white;
        background: rgb(28, 28, 30);
        box-shadow: 2px 2px 100px black;
        padding: 50px;
        height: 300px;
        border-radius: 20px;
        transition: all 1s;
        margin: 3vh 0;
    }
    .box41:hover {
        border: solid 3px yellow;
        transform: scale(1.05);
        background: rgb(255, 115, 0);
        box-shadow: 2px 2px 100px black;
    }
    .box41:hover p{
        color: white;
    }
    .box41:hover li{
        color: white;
        border: solid 3px yellow;

    }

    .proj {
        display: flex;
        flex-wrap: wrap;
        gap: 3vw;
        margin-top: 2vh;

    }

    li {
        border: solid 3px white;
        border-radius: 10px;
        padding: 1vh 1vw;
    }

    .project {
        font-size: 50px;
        text-align: center;
    }

    .hproj {
        margin-bottom: 20px;
        text-decoration: underline;
        text-shadow: 1px 1px 5px grey;


    }

    li:hover {
        border: solid 3px yellow;
        box-shadow: 2px 2px 5px rgb(255, 115, 0);
    }
    p,li{
        color: rgb(255, 115, 0);
    }
}





/* contact section */
.box5 {
    display: grid;
    justify-content: center;
    width: 60%;
    gap: 5vh 5vw;
    margin: 10vh auto;

    .box51 {
        background: rgb(28, 28, 30);
        margin-top: 5vh;
        padding: 5vh 5vw;
        border: solid 3px white;
        box-shadow: 2px 2px 100px rgb(8, 8, 8);
        padding: 50px;
        height: 350px;
        border-radius: 20px;
        transition: all 1s;
    }
    .box51:hover {
        border: solid 3px yellow;
        background: rgb(255, 115, 0);
        box-shadow: 2px 2px 100px rgb(255, 115, 0);
    }

    .contact {
        margin-bottom: 5vh;
        font-size: 30px;
        text-align: center;
    }

    ul {
        display: grid;
        row-gap: 3vh;
        column-gap: 3vw;
        grid-template-columns: repeat(3, auto);
        text-align: center;

    }

    li {
        border: solid 3px white;
        border-radius: 10px;
        padding: 1vh 1vw;
    }

    a {
        text-decoration: none;
        color: rgb(255, 115, 0);
    }

    .box51:hover li {
        border: solid 3px yellow;
        box-shadow: 2px 2px 100px rgb(255, 115, 0);
    }

    p {
        color: rgb(255, 115, 0);
        font-size: 15px;
        text-align: center;
        margin-bottom: 5vh;
    }

    .hcon {
        font-size: 50px;
        text-align: center;
    }
    .box51:hover a,
    .box51:hover p{
        color: white;
    }

}

footer {
    grid-area: footer;
    background: linear-gradient( rgb(255, 115, 0) , rgb(10, 10, 10) );
    display: inline;
    text-align: center;
    place-content: center;
    font-size: larger;
    color: white;

}

p {
    line-height: 30px;
    color: white;
}

li {
    list-style-type: none;
}


#home,
#about,
#education,
#skills,
#projects,
#contacts {
    scroll-margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

body {
    background: radial-gradient( rgb(255, 115, 0) 50% , rgb(10, 10, 10) ); 
}